body {
    background-color: rgb(97, 55, 55);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0;
    height: 100%;
    background-color: rgb(97, 55, 55);
    font-family: 'Courier New', Courier, monospace;
}

.header  > * {  /* El comando > * permite generar cambios a cada hijo de esa etiqueta. */ 
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

#ostrich {
    width: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.navBar {
    width: 80%;
    text-align: center;
    color: white;
    font-weight: 500;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.actions {
    width: 10%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-left: 15px;
    margin-right: 15px;
}

li {
    color: white;
    display: inline;
    margin: 0 10px 0 10px;
}

#follow {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}

main {
    margin-top: 285px;
    text-align: center;
}

h2 {
    color: gray;
    text-align: center;
}
p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
button {
    color: black;
    background-color: brown;
}

#stormtrooper {
    width: 30%;
    border-radius: 20px;
}

.promo {
    display: flex;
    width: 70%;
    margin: auto;
    margin: 100px auto;
    align-items: center;
}

 /*.video {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.videoDescription {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 300px;
}

.videoDescription video {
    width: 300px;
    border-radius: 10px;
}

.videoDescription img {
    width: 120px;
    margin-top: 10px;
}

.publish h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish p {
    font-size: 16px;
    color: #5c5c38;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish button {
    background-color: antiquewhite;
    color: #025157;
    display: center;
    margin-right: 20px;
}