body {
    background-color: rgb(97, 55, 55);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0;
    height: 100%;
    background-color: rgb(97, 55, 55);
    font-family: 'Courier New', Courier, monospace;
}

.header  > * {  /* El comando > * permite generar cambios a cada hijo de esa etiqueta. */
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

#ostrich {
    width: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
} 

.navBar {
    width: 80%;
    text-align: center;
    color: white;
    font-weight: 500;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.actions {
    width: 10%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-left: 15px;
    margin-right: 15px;
}

li {
    color: white;
    display: inline;
    margin: 0 10px 0 10px;
}

#follow {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}

main {
    margin-top: 285px;
    text-align: center;
}

h2 {
    color: gray;
    text-align: center;
}
p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
button {
    color: black;
    background-color: brown;
}

#stormtrooper {
    width: 30%;
    border-radius: 20px;
}

.promo {
    display: flex;
    width: 70%;
    margin: auto;
    margin: 100px auto;
    align-items: center;
}

 /*.video {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.videoDescription {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 300px;
}

.videoDescription video {
    width: 300px;
    border-radius: 10px;
}

.videoDescription img {
    width: 120px;
    margin-top: 10px;
}

.publish h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish p {
    font-size: 16px;
    color: #5c5c38;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish button {
    background-color: antiquewhite;
    color: #025157;
    display: center;
    margin-right: 20px;
}

.publish button:hover { /* pseudo clase que permite generar animaciones */
    background-color: #67b54b;
}

/*.portfolio {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); 
    height: 660px;
    /* grid-template-rows: repeat(2, 330px); 
    grid-template: repeat(2, 1fr) / repeat(2, 330px);
    
} */

.portfolio {
    background-color: #025157;
    padding: 5%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .portfolio .portfolio-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .portfolio .portfolio-card .portfolio-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .portfolio .portfolio-card .portfolio-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .portfolio .portfolio-card .portfolio-content img {
    width: 50px;
    border-radius: 5px;
  }
  
  .portfolio .portfolio-card .portfolio-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .portfolio .portfolio-card .portfolio-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .portfolio .portfolio-card .portfolio-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .portfolio .portfolio-card .portfolio-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: 50px;
    height: 80%;
  }
  
  .portfolio .portfolio-card .portfolio-image figure,
  .portfolio .portfolio-card .portfolio-image img {
    margin-top: 0;
    height: 100%;
    border-radius: 10px;
  }

            /* A partir de este punto comienza el CSS responsive */

            /** dispositivos móviles en vista viewport (vertical) 
            @media (max-width: 575px) {
                ...;
            }
            
            /** dispositivos pequeños en vista landscape (horizontal) 
            @media (min-width: 576px and max-width: 767px) {
                ...;
            }
            
            /** dispositivos medianos (tablets) 
            @media (min-width: 768px and max-width: 991px) {
                ...;
            }
            
            /** dispositivos grandes (desktops) 
            @media (min-width: 992px and max-width: 1199px) {
                ...;
            }
            
            /** dispositivos extra grandes (monitores grandes, tvs) 

            @media (min-width: 1200px) {
                ...;
            } */

  @media  (max-width: 575px) {
   
    body {
        background-color: #5c5c38;
    }

    .actions {
        text-align: center;
    }

    main {
        margin-top: 130px;
    }

    .promo {
        flex-direction: column;
        max-width: 90%;
    }

    .videoDescription > video {
        width: 100%;
    }

    .publish {
        margin-top: 10px;
    }

    .publish > h3 {
        font-size: 20px;
        line-height: 1.2;
    }

    .portfolio {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }
  }