body {
    background-color: black;
}

h2 {
    color: gray;
    text-align: center;
}
p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
button {
    color: black;
    background-color: brown;
}
#stormtrooper {
    width: 30%;
}